@import 'w3.css';
body {
    margin: 0 0;
}

header {
    position: fixed;
    display: flex;
    background: rgb(0, 175, 219);
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

header button {
    background: rgb(0, 175, 219);
    border: none;
    color: white;
}

hr {
    width: 100%;
}

#back-arrow {
    font-size: 30px;
    /* font-weight: bold; */
    margin-left: 10px;
}

header img {
    max-height: 52.67px;
    height: auto;
}

#content {
    padding-top: 52.67px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
}

.item-element {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "ammount completion arrow" "name completion empty";
    border: 1px solid black;
    width: 90%;
    margin-bottom: 10px;
    background: rgb(199, 199, 199);
    border-radius: 10px;
}

.payment-list .item-element {
    margin: auto;
    margin-bottom: 10px;
}

.payment-list .item-element h3,
.payment-list .item-element p {
    font-size: 15px;
}

.item-element-expanded {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: auto;
    grid-template-areas: "ammount completion arrow" "name completion empty" "man-bar man-bar man-bar" "prog-bar prog-bar prog-bar" "payments payments payments";
    border: 1px solid black;
    width: 90%;
    margin-bottom: 10px;
    background: rgb(199, 199, 199);
    border-radius: 10px;
}

.manual-bar {
    grid-area: man-bar;
}

.progress-bar {
    grid-area: prog-bar;
    width: 80%;
    margin: auto;
}

.payment-list {
    grid-area: payments;
}

.item-down-arrow {
    margin: 0px;
    grid-area: arrow;
    background: none;
    border: none;
}

.item-target {
    margin: 0px;
    grid-area: ammount;
    text-align: left;
    padding-left: 5px;
    font-size: 30px;
}

.item-date {
    margin: 0px;
    grid-area: date;
}

.item-name {
    grid-area: name;
    margin: 0px;
    padding-bottom: 2px;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
}

.item-completion {
    grid-area: completion;
    font-size: 30px;
    margin: auto;
}

.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 200px;
    background: rgb(0, 175, 219);
}

.fab h1 {
    margin: 0px 0px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 70px;
    padding-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.add-item,
#sparen,
#abzahlen {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.add-item input,
.add-item button,
.add-item label,
#sparen input,
#sparen button,
#sparen label,
#abzahlen input,
#abzahlen button,
#abzahlen label {
    font-size: 20px;
}

.ok-button {
    margin-top: 20px;
    border-radius: 10px;
}

a .ok-button {
    width: 100%;
}

#content h2 {
    margin: auto;
}

.selected-button {
    border: 1px solid #1186f5;
    background: deepskyblue;
}

.toggle-interval {
    margin-top: 5px;
}