<div id="sparen">
    <label for="betrag">Betrag:</label>
    <div>
        <Input id="betrag" placeholder="Geben Sie den Betrag ein" @value={{@formData.target}} /><span>€</span>
    </div>
    <label>Modus</label>
    <ToggleButtons @abzahlen=true @formData={{@formData}}/>
    <a href="/">
        <button class="ok-button" {{on 'click' saveToStorage}}>OK</button>
    </a>
</div>