<div class={{if this.collapsed "item-element" "item-element-expanded"}}>
    <h3 class="item-name">{{@name}}</h3>
    {{!-- <p class="item-date">{{item.startDate}}</p> --}}
    <p class="item-target">{{@target}}€</p>
    <p class="item-completion">{{@paidTotal}}%</p> {{!-- Currently using total paid instead of calculated percentage --}}
    {{#if this.collapsed}}
        <button class="item-down-arrow" {{on 'click' this.toggleSize}}>v</button>
    {{else}}
        <div class="payment-list">
            Zahlungsliste
            {{#each @paymentList as |paymentItem|}}
                <div class="item-element">
                    <h3 class="item-name">{{paymentItem.paymentDate}}</h3>
                    <p class="item-target">{{paymentItem.paymentAmmount}}€</p>
                </div>
            {{/each}}
        </div>
        {{#if @isManual}}
            <div class="manual-bar">
                <Input id="manual-betrag" placeholder="Betrag" />€
                <button {{on 'click' saveSomewhere}}>Speichern</button>
            </div>
        {{else}}
            <div class="progress-bar">
                <div class="w3-light-grey w3-round-xlarge">
                    <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
                </div>
            </div>
        {{/if}}
        <button class="item-down-arrow" {{on 'click' this.toggleSize}}>^</button>
    {{/if}}
</div>