{{#each @list as |item|}}
<ItemCard 
@name={{item.name}} 
@startDate={{item.startDate}} 
@targetDate={{item.targetDate}} 
@target={{item.target}} 
@paidTotal={{item.paidTotal}} 
@isManual={{item.isManual}}
@feeAmmount={{item.feeAmmount}}
@interval={{item.interval}}
@paymentList={{item.paymentList}}
/>
{{/each}}