<label for="name">Name:</label>
<Input id="name" placeholder="Enter your name" @value={{this.name}}/>
<label for="startDatum">Startdatum:</label>
<Input id="startDatum" placeholder="Enter the desired start date" @type="date" @value={{this.startDate}}/>
<label>Art</label>
<div class="button-container">
    <LinkTo @route="sparen">
        <button {{on 'click' passParameters}}>Sparen</button>
    </LinkTo>
    <LinkTo @route="abzahlen" >
        <button {{on 'click' passParameters}}>Abzahlen</button>
    </LinkTo>
</div>