<div id="sparen">
    <label>Modus:</label>
    <ToggleButtons @formData={{@formData}}/>
    <a href="/">
        <button class="ok-button" {{on 'click' saveToStorage}}>OK</button>
    </a>
</div>