    <div class="button-container">
        <button class={{if this.manual "selected-button" ""}} {{on 'click' this.setManualPayment}}>
            Manuell
        </button>
        <button class={{if this.manual "" "selected-button"}} {{on 'click' this.setAutomaticPayment}}>
            Automatisch
        </button>
    </div>
{{#if @abzahlen}}
    {{#unless this.manual}}
        <ToggleInterval @formData={{@formData}}/>
    {{/unless}}
{{else}}
    {{#unless this.manual}}      
        <label>Ziel Datum:</label>
        <Input id="startDatum" placeholder="Geben Sie das gewünschte Startdatum ein" @type="date" @value={{@formData.targetDate}}/>
        <ToggleInterval @formData={{@formData}}/>
    {{/unless}}
{{/if}}