<div class="toggle-interval">
    <label>Intervall</label>
    <div class="button-container">
        <button class={{if this.daily "selected-button" ""}} {{on 'click' this.setDaily}}>Tag</button>
        <button class={{if this.weekly "selected-button" ""}} {{on 'click' this.setWeekly}}>Woche</button>
        <button class={{if this.monthly "selected-button" ""}} {{on 'click' this.setMonthly}}>Monat</button>
    </div>
</div>