{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<header>
    <button onclick="window.history.back()" id="back-arrow">&lt;</button>
    <img src="./resources/logo-mit-text-logo-rechts.png"/>
    {{!-- <img src="https://www.akc.org/wp-content/themes/akc/component-library/assets/img/welcome.jpg"/> --}}
    <button>Menu</button>
</header>
<div id="content">
    {{!-- <button {{on "click" (fn transitionTo itemList)}}>ItemList!</button>
    <button {{on "click" (fn this.change 1)}}>+1</button> --}}
{{outlet}}
</div>